*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.black{
  height:75px;
  background-color:black;
}
.header_container{
  line-height: 75px;
}

.header_container,
.container_film{
  width:90%;
  margin:0 auto;
}

.header_container:after{
  display:table;
  content:'';
  clear:both;
}

.header_left{
  float:left;
  width:50%;
}

.logo{
  text-transform: uppercase;
  color:red;
}

.header_right{
  float:left;
  width:50%;
  text-align: right;
}

.btn{
  margin-left:10px;
  background-color:red;
  border:0;
  padding:10px 15px;
  cursor:pointer;
}

.btn:hover{
  background-color:rgba(191, 191, 191, 1);
}

.search{
  border:0;
  height:30px;
  width:50%;
}

.brown{
  background-color:rgba(107, 185, 240, 1);
   height:100vh;
   border:1px solid black;
   overflow-y:auto;
}

.container_film:after{
  clear:both;
  content:'';
  display:table;
}

.card{
  float: left;
  width: 20%;
  margin-left: 3px;
  margin-top: 10px;
  margin: 10px auto;
  height:300px;
}

.card li{
  font-weight: bold;
  color:red;
  list-style-type: none;
}

.card span,
.overview{
  font-weight: normal;
  color:white;
}

span.img_lingua img{
  width: 15px;
  height: 10px;
}

.informazioni{
  display:none;
  background-color:black;
  height: 300px;
  overflow-y: auto;
  width:90%;
  padding:5px ;
}

.visible{
  display:block;
}

.punto_interrogativo{
  width:180px;
  height:250px;
}
